.my-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-button {
  width: 350px;
}

html,
body {
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section.section {
  flex: 1;
}
